importFrom(MASS, mvrnorm)
importFrom(boot, boot)
importFrom(stats, glm)
importFrom(stats, family)
importFrom(stats, binomial)
importFrom(stats, gaussian)
importFrom(stats, Gamma)
importFrom(stats, inverse.gaussian)
importFrom(stats, poisson)
importFrom(stats, quasi)
importFrom(stats, quasibinomial)
importFrom(stats, quasipoisson)


export( current.packages, 
        dims, 
        gsource,
        help.zelig,
        network,
        mi,
	model.end,
        model.matrix.multiple, 
        model.frame.multiple,
	parse.formula, 
	parse.par,
        plot.ci,
        plot.surv,
        plot.zelig,
	put.start,
        repl,
        rocplot, 
	set.start,
	setx,
	sim,
        ternaryplot,
	ternarypoints, 
	user.prompt,
        zelig,
        zeligDepStatus,
        zeligDepUpdate,
        zeligListModels,
        zeligInstalledModels,
        zeligModelDependency, 
        zeligGetSpecial,
	zeligDescribeModelXML
       )
	
#S3method("$", ZeligS4vglm)
#S3method("$", summary.ZeligS4vglm)
#S3method("$<-", ZeligS4vglm)
#S3method("$<-", summary.ZeligS4vglm)
S3method(coef, chopit)
S3method(formula, vglm)
S3method(model.matrix, multiple)
S3method(model.frame, multiple)
S3method(names, relogit)
S3method(names, summary.vglm)
S3method(names, summary.zelig.relogit)
S3method(names, ZeligS4vglm)
S3method(names, zelig)
S3method(names, zelig.relogit)
S3method(plot, zelig)
S3method(plot, zelig.arima)
S3method(plot, zeliglist)
S3method(plot.zelig, blogit)
S3method(plot.zelig, bprobit)
S3method(plot.zelig, coxph)
S3method(plot.zelig, logit.gam)
S3method(plot.zelig, poisson.gam)
S3method(plot.zelig, probit.gam)
S3method(plot.zelig, logit)
S3method(plot.zelig, logit.gee)
S3method(plot.zelig, gamma.gee)
S3method(plot.zelig, poisson.gee)
S3method(plot.zelig, probit.gee)
S3method(plot.zelig, normal.gee)
S3method(plot.zelig, mlogit)
S3method(plot.zelig, negbin)
S3method(plot.zelig, cloglog.net)
S3method(plot.zelig, logit.net)
S3method(plot.zelig, poisson.net)
S3method(plot.zelig, probit.net)
S3method(plot.zelig, ologit)
S3method(plot.zelig, oprobit)
S3method(plot.zelig, probit)
S3method(plot.zelig, poisson)
S3method(plot.zelig, relogit)
S3method(plot.zelig, logit.survey)
S3method(plot.zelig, probit.survey)
S3method(plot.zelig, poisson.survey)
S3method(print, arimaSummary)
S3method(print, BetaReg)
S3method(print, coxhazard)
S3method(print, names.relogit)
S3method(print, names.zelig)
S3method(print, relogit)
S3method(print, relogit2)
S3method(print, summary.relogit)
S3method(print, summary.relogit2)
S3method(print, summary.MI)
S3method(print, summary.strata)
S3method(print, summary.zelig.strata)
S3method(print, summary.lm.robust)
S3method(print, summary.glm.robust)
S3method(print, summary.MCMCZelig)
S3method(print, summary.zelig)
S3method(print, eiRxC)
S3method(print, zelig)
S3method(qi, chopit)
S3method(repl, default)
S3method(repl, zelig)
S3method(sim, setxArima)
S3method(sim, default)
S3method(sim, cond)
S3method(sim, coxph)
S3method(sim, eiRxC)
S3method(sim, counter)
S3method(sim, setx.MI)
S3method(sim, setx.rqs)
S3method(sim, setx.strata)
S3method(sim, zaovlist)
S3method(sim, eiRxC)
S3method(setx, Arima)
S3method(setx, coxph)
S3method(setx, default)
S3method(setx, eiRxC)
S3method(setx, gam)
S3method(setx, noX)
S3method(setx, MI)
S3method(setx, netglm)
S3method(setx, rq)
S3method(setx, rq.process)
S3method(setx, rqs)
S3method(setx, strata)
S3method(setx, relogit2)
S3method(setx, zaovlist)
S3method(summarize, array)
S3method(summarize, ei)
S3method(summarize, coxhazard)
S3method(summary, Arima)
S3method(summary, zelig.arima)
S3method(summary, BetaReg)
S3method(summary, coxph.naive)
S3method(summary, coxph.robust)
S3method(summary, MI)
S3method(summary, netglm)
S3method(summary, strata)   
S3method(summary, relogit)   
S3method(summary, relogit2)   
S3method(summary, setx.cond)
S3method(summary, setx)   
S3method(summary, zelig.strata)
S3method(summary, zelig.rqs.strata)
S3method(summary, MCMCZelig)   
S3method(summary, zelig)   
S3method(summary, vglm)
S3method(summary, lm.robust)   
S3method(summary, glm.robust)   
S3method(summary, eiRxC)
S3method(summary, zaovlist)
S3method(summary, zmaov)
S3method(terms, vglm)
S3method(summary, zmlm)
S3method(terms, multiple)
S3method(vcov, BetaReg)
S3method(vcov, eiRxC)
S3method(vcov, relogit)
S3method(vcov, lm.robust)
S3method(vcov, glm.robust)
S3method(vcov, zmlm)
S3method(vcov, chopit)
S3method(zelig, default)


